.img-responsive 
{
    margin: 0 auto;
}
.T0
{
		width:60px;
		color: #bf0000;
}
.T1
{
		width:90px;
		color: #bf0000;
}
.T2
{
	width:100px;
}
.T3
{
	width:110px;
}
.T4
{
	width:120px;
}
.T4
{
	width:150px;
}
.T5
{
	width:200px;
}